body {
  background-color: #f3e5d8;
}

.parteDeArriba {
  max-width: 1850px;
  margin: 20px;
}

.parteDeArriba,
#a1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #255538;
  color: #ffffff;
  padding: 0px 40px 0px 10px;
  max-height: 60px;
  border-radius: 6px;
  align-items: center;
  text-decoration: none;
  font-family: "DM Serif Display", serif;
}

.parteDeArribaDerecha {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.parteDeArribaDerecha,
#send-recipe,
#a2,
#a3 {
  padding: 0px 5px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
  gap: 20px;
  color: #ffffff;
}

#a2 {
  font-family: "DM Sans", sans-serif;
}

.parteDeArribaDerecha button {
  width: 34px;
  height: 35px;
  top: 32px;
  left: 1366px;
  gap: 30px;
  opacity: 0px;
  background: #ffffff;
  border-radius: 100px;
  border: 0;
  margin-top: 8px;
  text-decoration: none;
}

#container {
  display: grid;
  grid-template-columns: 64% 50%;
  grid-template-rows: auto;
  grid-gap: 20px;
  padding-left: 80px;
}

#receta {
  background-color: #ffffff;
  grid-column: 1/1;
  padding: 20px;
  border-radius: 6px;
  overflow: hidden;
}

#imgreceta {
  max-width: 1220px;
  width: 100%;
  height: 336px;
  object-fit: cover;
  border-radius: 6px;
}

#datos-receta {
  background-color: #ffffff;
  grid-column: 2/3;
  padding: 20px;
  border-radius: 6px;
  max-width: 500px;
  margin-bottom: 20px;
}

#more-recipes {
  background-color: #ffffff;
  grid-column: 2/3;
  border-radius: 6px;
  padding: 20px;
}

#namerecipe {
  font-size: 40px;
  color: #7e4333;
  font-family: "DM Serif Display", serif;
}

#flex {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.text {
  color: black;
  font-family: "DM Sans", sans-serif;
}

#preparation-time {
  background-color: #fff7fc;
  padding: 20px;
}

.subtiteles {
  color: #7e4333;
  font-family: "DM Serif Display", serif;
}

footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: -30px;
  max-width: 1800px;
  width: 97%;
  color: white;
  padding-left: 20px;
  margin: 20px;
  background-color: #255538;
  text-decoration: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

p {
  font-family: "DM Sans", sans-serif;
}

#Cook {
  text-decoration: none;
  color: #ffffff;
  font-family: "DM Serif Display", serif;
}

table {
  border-collapse: separate;
  border-spacing: 0px 10px;
}

.derecha {
  max-width: 100px;
  width: 100%;
  color: #7e4333;
  border-bottom: solid 1px #7e4333;
  padding-left: 59%;
}

td {
  border-bottom: solid 1px #7e4333;
  font-family: "DM Sans", sans-serif;
}

.img-recipes {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.recipes {
  min-width: 80px;
  min-height: 80px;
  width: 80px;
  max-width: 80px;
  max-height: 80px;
  border-radius: 6px;
  margin: 10px;
  object-fit: cover;
}

.text-column {
  display: flex;
  flex-direction: column;
  color: black;
  margin: 0%;
  text-justify: inter-word;
  margin-top: 10px;
  text-align: center center;
  font-size: 16px;
}

ol {
  font-family: "DM Sans", sans-serif;
}

li {
  font-family: "DM Sans", sans-serif;
  margin-top: 20px;
}

#size {
  font-size: 16.5px;
  padding-top: 20px;
}

@media screen and (max-width: 1199px) {
  #container {
    grid-template-columns: 100%;
    padding-left: 0px;
  }

  #datos-receta {
    max-width: 1199px;
    width: 96.5%;
    padding: 15px;
  }

  .derecha {
    padding-left: 65%;
  }

  #flex {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  footer {
    margin: 0px;
  }
}

@media screen and (max-width: 700px) {
  #datos-receta {
    max-width: 1199px;
    width: 96.5%;
    padding: 10px;
  }
}

@media screen and (max-width: 351px) {
  .parteDeArribaDerecha button {
    margin-top: 25px;
  }

  .text-column {
    font-size: 15px;
  }

  .derecha {
    padding-left: 55%;
  }
}
