body {
  background-color: #f3e5d8;
}

.dark-mode body {
  background-color: #222222; /* Fondo oscuro */
  color: #ffffff; /* Texto blanco */
}

.parteDeArriba {
  max-width: 1850px;
  margin: 20px;
}

.parteDeArriba,
#a1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #255538;
  color: #ffffff;
  padding: 0px 40px 0px 10px;
  max-height: 60px;
  border-radius: 6px;
  align-items: center;
  text-decoration: none;
}

.parteDeArribaDerecha {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.parteDeArribaDerecha,
p,
#a2,
#a3 {
  padding: 0px 5px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
  gap: 20px;
  color: #ffffff;
}

.parteDeArribaDerecha button {
  width: 34px;
  height: 35px;
  top: 32px;
  left: 1366px;
  gap: 30px;
  opacity: 0px;
  background: #ffffff;
  border-radius: 100px;
  border: 0;
  margin-top: 8px;
  text-decoration: none;
}

.imagenSuperior {
  padding: 0px 0px 0 0px;
  max-width: 1900px;
  width: 3000px;
  height: 680px;
  top: 160px;
  left: 101px;
  gap: 0px;
  border-radius: 5px;
  opacity: 0px;
  object-fit: cover;
}

.contenedor {
  position: relative;
}

#imagenParteSuperior {
  max-width: 2000px;
  width: 1659px;
  height: 368px;
  object-fit: cover;
  border-radius: 6px;
  margin: 0px 100px;
}

.texto {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#recipes {
  color: #7e4333;
  padding: 20px 0px 20px 100px;
}

#grid-container {
  display: grid;
  grid-template-rows: 400px 400px;
  grid-template-columns: 550px 550px 500px;
  grid-template-areas:
    "main main main"
    "main main main";
  padding-left: 100px;
  gap: 130px 30px;
  border-radius: 6px;
}

#receta1 {
  background-color: #ffffff;
  padding: 20px;
  color: black;
  border-radius: 6px;
}

#receta2 {
  background-color: #ffffff;
  padding: 20px;
  color: black;
  border-radius: 6px;
}

#receta3 {
  background-color: #ffffff;
  padding: 20px;
  color: black;
  border-radius: 6px;
}

#receta4 {
  background-color: #ffffff;
  padding: 20px;
  color: black;
  border-radius: 6px;
}

#receta5 {
  background-color: #ffffff;
  padding: 20px;
  color: black;
  border-radius: 6px;
}

#receta6 {
  background-color: #ffffff;
  padding: 20px;
  color: black;
  border-radius: 6px;
}

#imgReceta1 {
  width: 510px;
  height: 250px;
  object-fit: cover;
  justify-content: center center;
  border-radius: 6px;
}

#imgReceta2 {
  width: 510px;
  height: 250px;
  object-fit: cover;
  justify-content: center center;
  border-radius: 6px;
}

#imgReceta3 {
  width: 460px;
  height: 250px;
  object-fit: cover;
  justify-content: center center;
  border-radius: 6px;
}

#imgReceta4 {
  width: 510px;
  height: 250px;
  object-fit: cover;
  justify-content: center center;
  border-radius: 6px;
}

#imgReceta5 {
  width: 510px;
  height: 250px;
  object-fit: cover;
  justify-content: center center;
  border-radius: 6px;
}

#imgReceta6 {
  width: 460px;
  height: 250px;
  object-fit: cover;
  justify-content: center center;
  border-radius: 6px;
}

.recetas {
  text-decoration: none;
}

.recetas p {
  color: black;
  text-decoration: none;
}

.nameRecipe {
  color: #7e4333;
  font-size: 40px;
}

.recetas ul {
  font-size: 20px;
}

footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: -100px;
  width: 1830px;
  color: white;
  padding-left: 20px;
  margin: 20px;
  background-color: #255538;
  text-decoration: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#Cook {
  text-decoration: none;
  color: #ffffff;
}
