body {
  background-color: #f3e5d8;
}

.parteDeArriba {
  max-width: 1850px;
  margin: 20px;
}

.parteDeArriba,
#a1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #255538;
  color: #ffffff;
  padding: 0px 40px 0px 10px;
  max-height: 60px;
  border-radius: 6px;
  align-items: center;
  text-decoration: none;
}

.parteDeArribaDerecha {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.parteDeArribaDerecha,
p,
#a2,
#a3 {
  padding: 0px 5px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
  gap: 20px;
  color: #ffffff;
}

.parteDeArribaDerecha button {
  width: 34px;
  height: 35px;
  top: 32px;
  left: 1366px;
  gap: 30px;
  opacity: 0px;
  background: #ffffff;
  border-radius: 100px;
  border: 0;
  margin-top: 8px;
  text-decoration: none;
}

.contenedor {
  position: relative;
  max-width: 1900px;
  max-height: 370px;
  display: flex;
}

#imagenParteSuperior {
  max-width: 2000px;
  width: 1669px;
  height: 368px;
  object-fit: cover;
  border-radius: 6px;
  margin: 0px 101px;
}

.texto {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#recipes {
  color: #7e4333;
  padding: 20px 0px 20px 100px;
}

#grid-container {
  display: grid;
  grid-template-rows: repeat(2, 400px);
  grid-template-columns: repeat(3, 30%);
  grid-template-areas:
    "main main main"
    "main main main";
  padding-left: 100px;
  gap: 180px 30px;
  border-radius: 6px;
  
}

#receta1 {
  background-color: #ffffff;
  padding: 20px;
  color: black;
  border-radius: 6px;
}

#receta2 {
  background-color: #ffffff;
  padding: 20px;
  color: black;
  border-radius: 6px;
}

#receta3 {
  background-color: #ffffff;
  padding: 20px;
  color: black;
  border-radius: 6px;
}

#receta4 {
  background-color: #ffffff;
  padding: 20px;
  color: black;
  border-radius: 6px;
}

#receta5 {
  background-color: #ffffff;
  padding: 20px;
  color: black;
  border-radius: 6px;
}

#receta6 {
  background-color: #ffffff;
  padding: 20px;
  color: black;
  border-radius: 6px;
}

#imgReceta1 {
 width: 100%;
  height: 250px;
  object-fit: cover;
  justify-content: center center;
  border-radius: 6px;
}

#imgReceta2 {
  width: 100%;
  height: 250px;
  object-fit: cover;
  justify-content: center center;
  border-radius: 6px;
}

#imgReceta3 {
  width: 100%;
  height: 250px;
  object-fit: cover;
  justify-content: center center;
  border-radius: 6px;
}

#imgReceta4 {
  width: 100%;
  height: 250px;
  object-fit: cover;
  justify-content: center center;
  border-radius: 6px;
}

#imgReceta5 {
  width: 100%;
  height: 250px;
  object-fit: cover;
  justify-content: center center;
  border-radius: 6px;
}

#imgReceta6 {
  width: 100%;
  height: 250px;
  object-fit: cover;
  justify-content: center center;
  border-radius: 6px;
}

.recetas {
  text-decoration: none;
}

.recetas p {
  color: black;
  text-decoration: none;
}

.nameRecipe {
  color: #7e4333;
  font-size: 40px;
}

.recetas ul {
  font-size: 20px;
}

footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: -160px;
  max-width: 1800px;
  width: 97%;
  color: white;
  padding-left: 20px;
  margin: 20px;
  background-color: #255538;
  text-decoration: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#Cook {
  text-decoration: none;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  #imagenParteSuperior {
    object-fit: cover;
    margin: 0px 0px;
  }

  #recipes {
    color: #7e4333;
    padding: 0px;
  }

  #grid-container {
    grid-template-columns: repeat(2, 49%); 
    grid-template-rows: auto;
    grid-template-areas:
    "main main"
    "main main"
    "main main";
    gap: 40px 20px;
   padding-left: 0px;
  }

  
  #receta1{
    overflow: hidden;
  }
  #receta2{
    overflow: hidden;
  }
  #receta3{
    overflow: hidden;
  }
  #receta4{
    overflow: hidden;
  }
  #receta5{
    overflow: hidden;
  }
  #receta6{
    overflow: hidden;
  }

  footer {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: -100px;
    width: 1110px auto;
    color: white;
    padding-left: 20px;
    margin: 0px;
    background-color: #255538;
    text-decoration: none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

}

@media screen and (max-width: 576px) {
  #imagenParteSuperior {
    object-fit: cover;
    margin: 0px 0px;
  }

  #recipes {
    color: #7e4333;
    padding: 0px;
  }

  #grid-container {
    grid-template-columns: 100%; 
    grid-template-rows: auto;
    grid-template-areas:
    "main"
    "main"
    "main"
    "main"
    "main"
    "main";
    gap: 40px 20px;
   padding-left: 0px;
  }

  
  #receta1{
    overflow: hidden;
  }
  #receta2{
    overflow: hidden;
  }
  #receta3{
    overflow: hidden;
  }
  #receta4{
    overflow: hidden;
  }
  #receta5{
    overflow: hidden;
  }
  #receta6{
    overflow: hidden;
  }

  footer {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: -100px;
    width: 1110px auto;
    color: white;
    padding-left: 20px;
    margin: 0px;
    background-color: #255538;
    text-decoration: none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

}
